@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
 	margin:0;
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 400;
}

* {
 	box-sizing: border-box;
}

.animate-text {
  height: 40px;
  overflow: hidden;
  text-align: left;
}

.animate-text span{
    font-size: 13px;
    color:#113123;
    font-weight: 400;
    line-height: 46px;
    display: none;
}

.animate-text span.text-in{
	display: block;
	animation: textIn .8s ease;
}
.animate-text span.text-out{
	animation: textOut 4s ease;
}
@keyframes textIn{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(0%);
	}
}
@keyframes textOut{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-100%);

	}
}
